/laskarit/viikko2/Maksukortti/target
/laskarit/viikko2/Unicafe/target
/laskarit/viikko2/Unicafe/nbproject/
/opintopiiri/target
/opintopiiri/userdao.mv.db
/opintopiiri/userdao.trace.db
/opintopiiri/nbactions.xml
/opintopiiri/nbaproject/
/opintopiiri/userdao.mv.db.save/
