/laskarit/viikko2/Maksukortti/target
/laskarit/viikko2/Unicafe/target
/laskarit/viikko2/Unicafe/nbproject/
/opintopiiri/target
/opintopiiri/userdao.mv.db
/opintopiiri/userdao.trace.db
/opintopiiri/nbaactions.xml
/opintopiiri/nbproject/
/opintopiiti/userdao.mv.db.save
/opintopiiri/skipped_files.xml
/opintopiiri/checkstyle.xml
